{
  "swagger": "2.0",
  "info": {
    "description": "前端接口文档，本接口提交参数一律使用 application/x-www-form-urlencoded ，不要使用 JSON 格式提交参数，接口返回是 JSON 结构数据！",
    "version": "1.0.0",
    "title": "前端接口列表"
  },
  "host": "api.it120.cc",
  "basePath": "/",
  "tags": [
    {
      "name": "CMS模块",
      "description": "Api Ext Page Controller"
    },
    {
      "name": "CPS",
      "description": "Cps Pdd Order Controller"
    },
    {
      "name": "QQ小程序",
      "description": "Q Qmini App User Controller"
    },
    {
      "name": "RestFull接口",
      "description": "User Controller"
    },
    {
      "name": "mjt",
      "description": "MTJ Controller"
    },
    {
      "name": "三级分销",
      "description": "Sale Distribution Team Controller"
    },
    {
      "name": "会员卡",
      "description": "Card Info Controller"
    },
    {
      "name": "其他接口",
      "description": "Mobile Segment Controller"
    },
    {
      "name": "商城模块",
      "description": "Shopping Cart Controller"
    },
    {
      "name": "图片交易",
      "description": "Photo Controller"
    },
    {
      "name": "在线支付",
      "description": "WX Pay Baiwei Controller"
    },
    {
      "name": "地图接口",
      "description": "Map Controller"
    },
    {
      "name": "头条小程序",
      "description": "TT Microapp User Controller"
    },
    {
      "name": "好友管理",
      "description": "User Moments Controller"
    },
    {
      "name": "实时音视频",
      "description": "Trtc Controller"
    },
    {
      "name": "工具类接口",
      "description": "Ocr Controller"
    },
    {
      "name": "平台网关接口",
      "description": "Sms Message Controller"
    },
    {
      "name": "微信公众号",
      "description": "Wx MP User Controller"
    },
    {
      "name": "微信小程序",
      "description": "Wx APP User Service Controller"
    },
    {
      "name": "微信开发",
      "description": "Js Sign Ajax Controller"
    },
    {
      "name": "快跑者",
      "description": "Order Keloop Controller"
    },
    {
      "name": "扫码点餐",
      "description": "Cy Table Controller"
    },
    {
      "name": "投票模块",
      "description": "Vote Info Controller"
    },
    {
      "name": "拼团&砍价",
      "description": "Pingtuan Controller"
    },
    {
      "name": "排队叫号",
      "description": "Queuing Controller"
    },
    {
      "name": "支付宝",
      "description": "Ali App User Controller"
    },
    {
      "name": "收藏卡片",
      "description": "Collect Card Controller"
    },
    {
      "name": "文件管理",
      "description": "File Upload Download"
    },
    {
      "name": "旅游旅行",
      "description": "Tour Journey Controller"
    },
    {
      "name": "旧物回收",
      "description": "Recycle Order Controller"
    },
    {
      "name": "橱窗",
      "description": "Chuchuan Goods Controller"
    },
    {
      "name": "活动&工具",
      "description": "Moments Controller"
    },
    {
      "name": "流媒体",
      "description": "Live Room Attention Controller"
    },
    {
      "name": "消息&站内信",
      "description": "User Message Controller"
    },
    {
      "name": "物品寄存",
      "description": "Jicun Goods Controller"
    },
    {
      "name": "用户管理",
      "description": "User Controller"
    },
    {
      "name": "电子面单",
      "description": "Express Order Controller"
    },
    {
      "name": "社交&SNS",
      "description": "Bottle Msg Controller"
    },
    {
      "name": "积分模块",
      "description": "Score Deduction Rule Controller"
    },
    {
      "name": "站点信息",
      "description": "Sub Domain Controller"
    },
    {
      "name": "站点设置",
      "description": "Api Ext Config Controller"
    },
    {
      "name": "红包&优惠券",
      "description": "Discounts Coupon Controller"
    },
    {
      "name": "虚拟交易",
      "description": "Virtual Trader Controller"
    },
    {
      "name": "订单管理",
      "description": "Order Keloop Controller"
    },
    {
      "name": "财务管理",
      "description": "Deposit Controller"
    },
    {
      "name": "购买课程",
      "description": "Course Info Controller"
    },
    {
      "name": "购物车",
      "description": "Shopping Cart Controller"
    },
    {
      "name": "配送模块",
      "description": "Peisong Member Controller"
    },
    {
      "name": "预约报名",
      "description": "Yuyue Fav Controller"
    },
    {
      "name": "验证码",
      "description": "Pic Code Controller"
    }
  ],
  "paths": {
    "/common/datetime": {
      "get": {
        "tags": [
          "其他接口"
        ],
        "summary": "读取服务器时间",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "datetimeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/common/ip": {
      "get": {
        "tags": [
          "其他接口"
        ],
        "summary": "查询ip归属地",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "ipUsingGET_7",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "description": "ip地址，不传该参数为查询当前网络ip地址",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/common/map/distance": {
      "get": {
        "tags": [
          "地图接口"
        ],
        "summary": "计算直线距离，单位是km",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "getAddressUsingGET_7",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "lat1",
            "in": "query",
            "description": "纬度1",
            "required": true,
            "type": "string"
          },
          {
            "name": "lat2",
            "in": "query",
            "description": "纬度2",
            "required": true,
            "type": "string"
          },
          {
            "name": "lng1",
            "in": "query",
            "description": "经度1",
            "required": true,
            "type": "string"
          },
          {
            "name": "lng2",
            "in": "query",
            "description": "经度2",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/common/map/qq/address": {
      "get": {
        "tags": [
          "地图接口"
        ],
        "summary": "腾讯地图经纬度解析",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "addressUsingGET_15",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "coord_type",
            "in": "query",
            "description": "1 GPS坐标 2 sogou经纬度 3 baidu经纬度 4 mapbar经纬度 5 [默认]腾讯、google、高德坐标 6 sogou墨卡托",
            "required": false,
            "type": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "腾讯地图的key",
            "required": true,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "经纬度，格式：location=lat<纬度>,lng<经度>；如：location=30.274085,120.15507",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/common/map/qq/distance": {
      "post": {
        "tags": [
          "地图接口"
        ],
        "summary": "计算距离(米)",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "distanceUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "起点坐标，39.071510,117.190091",
            "required": true,
            "type": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "腾讯地图的key",
            "required": true,
            "type": "string"
          },
          {
            "name": "mode",
            "in": "query",
            "description": "计算方式：driving（驾车）、walking（步行）、bicycling：自行车",
            "required": true,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "description": "终点坐标，39.071510,117.190091",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/common/map/qq/search": {
      "post": {
        "tags": [
          "地图接口"
        ],
        "summary": "地点搜索",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "searchUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "boundary",
            "in": "query",
            "description": "搜索范围: region(北京,0) /  nearby(39.908491,116.374328,1000) / rectangle(39.9072,116.3689,39.9149,116.3793)",
            "required": true,
            "type": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "腾讯地图的key",
            "required": true,
            "type": "string"
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "搜索关键词",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "读取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少条数据, 最大值为 20",
            "required": false,
            "type": "string",
            "default": "10"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/common/mobile-segment/location": {
      "get": {
        "tags": [
          "其他接口"
        ],
        "summary": "查询手机号码归属地",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n当前接口错误码： \n300:缺少mobile参数\n301:手机号码格式错误\n404:暂无数据\n",
        "operationId": "locationUsingGET_15",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "mobile",
            "in": "query",
            "description": "手机号码",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/common/mobile-segment/next": {
      "post": {
        "tags": [
          "其他接口"
        ],
        "summary": "获取指定城市的下一个号段",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n当前接口错误码： \n300:缺少segment参数\n302:segment格式错误\n404:暂无数据\n",
        "operationId": "nextUsingPOST_7",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "cityName",
            "in": "query",
            "description": "所属城市，eg:杭州",
            "required": false,
            "type": "string"
          },
          {
            "name": "province",
            "in": "query",
            "description": "所属省份，eg:浙江",
            "required": false,
            "type": "string"
          },
          {
            "name": "segment",
            "in": "query",
            "description": "当前号段，要获取第一个号段请传入0",
            "required": true,
            "type": "string"
          },
          {
            "name": "segmentName",
            "in": "query",
            "description": "包含的运营商相关信息，例如：中国联通、移动",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/common/region/v2/child": {
      "get": {
        "tags": [
          "其他接口"
        ],
        "summary": "获取下级省市区数据",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "childUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "pid",
            "in": "query",
            "description": "上级省市区编码",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/common/region/v2/city": {
      "get": {
        "tags": [
          "其他接口"
        ],
        "summary": "获取所有的城市列表（2级）",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "cityUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/common/region/v2/districts": {
      "get": {
        "tags": [
          "其他接口"
        ],
        "summary": "获取所有的区县列表（3级）",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "districtsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/common/region/v2/province": {
      "get": {
        "tags": [
          "其他接口"
        ],
        "summary": "获取省份列表（1级）",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "provinceUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/common/region/v2/streets": {
      "get": {
        "tags": [
          "其他接口"
        ],
        "summary": "获取所有的区县列表（4级）",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "streetsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/common/short-url/expand": {
      "post": {
        "tags": [
          "其他接口"
        ],
        "summary": "通过短链接查询长链接",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "expandUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "suffix",
            "in": "query",
            "description": "端链接地址编号，注意不是整个短链接地址哦",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/common/short-url/shorten": {
      "post": {
        "tags": [
          "其他接口"
        ],
        "summary": "长链接转短链接",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "shortenUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "长链接地址",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/gate/express/query": {
      "post": {
        "tags": [
          "平台网关接口"
        ],
        "summary": "快递查询",
        "description": "快递公司编码查询：https://www.it120.cc/info/wxapp/10016\n全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "checkUsingPOST_23",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "com",
            "in": "query",
            "description": "快递公司编码",
            "required": false,
            "type": "string"
          },
          {
            "name": "merchantKey",
            "description": "商户秘钥",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantNo",
            "description": "商户号",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mobile",
            "in": "query",
            "description": "收件人手机号码，顺丰必填",
            "required": false,
            "type": "string"
          },
          {
            "name": "number",
            "in": "query",
            "description": "快递单号",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/gate/idcard/check": {
      "post": {
        "tags": [
          "平台网关接口"
        ],
        "summary": "实名认证",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "checkUsingPOST_7",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "idCardNo",
            "in": "query",
            "description": "身份证号码",
            "required": true,
            "type": "string"
          },
          {
            "name": "merchantKey",
            "description": "商户秘钥",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantNo",
            "description": "商户号",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "姓名",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/gate/message/sms/send": {
      "post": {
        "tags": [
          "平台网关接口"
        ],
        "summary": "发送普通短信",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n当前接口错误码： \n10000:短信通道不存在或者当前不可用\n500:请输入图形验证码的KEY\n501:请输入图形验证码\n502:图形验证码错误\n505:模板数据格式错误，必须是 Json 格式\n20001:发送失败，接口无响应\n20000:发送失败\n504:暂不支持该短信通道，请联系管理员\n",
        "operationId": "sendUsingPOST_31",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "需要图形验证码时候的验证码KEY",
            "required": false,
            "type": "string"
          },
          {
            "name": "merchantKey",
            "description": "商户秘钥",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantNo",
            "description": "商户号",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mobile",
            "in": "query",
            "description": "手机号码",
            "required": true,
            "type": "string"
          },
          {
            "name": "picCode",
            "in": "query",
            "description": "图形验证码",
            "required": false,
            "type": "string"
          },
          {
            "name": "postJsonString",
            "in": "query",
            "description": "短信模板中的参数JSON格式",
            "required": false,
            "type": "string"
          },
          {
            "name": "smsId",
            "in": "query",
            "description": "后台短信设置的ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/goods/seckill/grab": {
      "post": {
        "tags": [
          "商城模块"
        ],
        "summary": "抢占秒杀名额",
        "description": "让用户先抢占秒杀名额，抢占成功以后再放行到下单界面去下单。或者是抢占到了名额以后，在让用户进入活动流程，可有效避免高并发\n全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "grabUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "goodsId",
            "in": "query",
            "description": "商品ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "seconds",
            "in": "query",
            "description": "多少秒以后解除占用的名额",
            "required": false,
            "type": "string",
            "default": "60"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/rest/centerUser/checkPluginInfo": {
      "post": {
        "tags": [
          "RestFull接口"
        ],
        "summary": "判断后台是否开通指定的插件",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "checkPluginInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "前端用户登陆返回的token",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "插件类型",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/rest/centerUser/info": {
      "get": {
        "tags": [
          "RestFull接口"
        ],
        "summary": "读取站点信息",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "infoUsingGET_20",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "前端用户登陆返回的token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/rest/user/detail": {
      "get": {
        "tags": [
          "RestFull接口"
        ],
        "summary": "获取当前登陆用户信息",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "detailUsingGET_89",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "用户登陆返回的token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/subdomain/appid/wxapp": {
      "get": {
        "tags": [
          "站点信息"
        ],
        "summary": "通过小程序appid获取专属域名",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "wxappUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "appid",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/banner/list": {
      "get": {
        "tags": [
          "站点设置"
        ],
        "summary": "Banner列表",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "listUsingGET_15",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "类型，多个类型请用英文逗号隔开",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/banner/types": {
      "get": {
        "tags": [
          "站点设置"
        ],
        "summary": "获取所有的Banner类型",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "typesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/barcode/info": {
      "get": {
        "tags": [
          "其他接口"
        ],
        "summary": "商品条码查询",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n当前接口错误码： \n40000:条码格式有误\n",
        "operationId": "infoUsingGET_10",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "barcode",
            "in": "query",
            "description": "商品条码",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/bengenSaleTongji/list": {
      "post": {
        "tags": [
          "三级分销"
        ],
        "summary": "多啦A梦",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "listUsingPOST_33",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "统计日期，202104,0,20210423，多个日期用英文逗号分割",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/bengenSaleTongji/rank": {
      "get": {
        "tags": [
          "三级分销"
        ],
        "summary": "多啦A梦-排名",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "rankUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dateEnd",
            "in": "query",
            "description": "结束日期",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateStart",
            "in": "query",
            "description": "开始日期",
            "required": false,
            "type": "string"
          },
          {
            "name": "goodsId",
            "in": "query",
            "description": "商品ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "0 按订单数， 1 按销量",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/bonusLog/list": {
      "post": {
        "tags": [
          "财务管理"
        ],
        "summary": "分红明细",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "commisionLogUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dateAddBegin",
            "in": "query",
            "description": "分红时间起,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateAddEnd",
            "in": "query",
            "description": "分红时间止,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/bottleMsg/publish": {
      "post": {
        "tags": [
          "社交&SNS"
        ],
        "summary": "仍一个漂流瓶",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "publishUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "content",
            "in": "query",
            "description": "漂流瓶内容",
            "required": true,
            "type": "string"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "地图坐标纬度",
            "required": true,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "地图坐标经度",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/bottleMsg/salvage": {
      "get": {
        "tags": [
          "社交&SNS"
        ],
        "summary": "捡一个漂流瓶",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "salvageUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/card/buy": {
      "post": {
        "tags": [
          "会员卡"
        ],
        "summary": "购买会员卡",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "buyUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "会员卡ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/card/info": {
      "get": {
        "tags": [
          "会员卡"
        ],
        "summary": "会员卡详情",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "infoUsingGET_19",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "会员卡id",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/card/list": {
      "get": {
        "tags": [
          "会员卡"
        ],
        "summary": "获取系统会员卡列表",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "listUsingGET_48",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "status",
            "description": "0 正常 1 停用",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "description": "0 次卡",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/card/logs": {
      "post": {
        "tags": [
          "会员卡"
        ],
        "summary": "卡消费明细",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "logsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "behavior",
            "description": "0 收入； 1 支出",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardId",
            "description": "会员卡ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateAddBegin",
            "in": "query",
            "description": "消费时间起,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateAddEnd",
            "in": "query",
            "description": "消费时间止,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderId",
            "description": "业务订单号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "type",
            "description": "交易类型 0 开卡 1调整 2购买商品 21关闭订单退回",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "交易类型，同时获取多种类型请用英文逗号分隔",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/card/my": {
      "get": {
        "tags": [
          "会员卡"
        ],
        "summary": "我的会员卡",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "myUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/channelData/pull": {
      "get": {
        "tags": [
          "其他接口"
        ],
        "summary": "数据隧道取出一个数据",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "pullUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "隧道唯一标识",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/channelData/push": {
      "post": {
        "tags": [
          "其他接口"
        ],
        "summary": "数据隧道追加数据",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "pushUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "content",
            "in": "query",
            "description": "传输数据",
            "required": true,
            "type": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "隧道唯一标识",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/chuchuan/info": {
      "get": {
        "tags": [
          "橱窗"
        ],
        "summary": "查看用户橱窗信息",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "hisUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "description": "用户编号",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/chuchuan/modify": {
      "post": {
        "tags": [
          "橱窗"
        ],
        "summary": "修改橱窗信息",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "modifyUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "橱窗名称",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/chuchuanGoods/add": {
      "post": {
        "tags": [
          "橱窗"
        ],
        "summary": "将商品加入橱窗",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "addUsingPOST_17",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "goodsId",
            "in": "query",
            "description": "商品ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "paixu",
            "in": "query",
            "description": "排序，数字越小越靠前",
            "required": false,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "橱窗商品标签，用来归类商品",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/chuchuanGoods/check": {
      "get": {
        "tags": [
          "橱窗"
        ],
        "summary": "判断商品是否在橱窗中， true 说明在； false 说明未在橱窗",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "checkUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "goodsId",
            "in": "query",
            "description": "商品ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/chuchuanGoods/list": {
      "post": {
        "tags": [
          "橱窗"
        ],
        "summary": "橱窗商品列表",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "listUsingPOST_34",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "根据标签搜索",
            "required": false,
            "type": "string"
          },
          {
            "name": "uid",
            "in": "query",
            "description": "橱窗用户id",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/chuchuanGoods/remove": {
      "post": {
        "tags": [
          "橱窗"
        ],
        "summary": "将商品从橱窗中移除",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "removeUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "goodsId",
            "in": "query",
            "description": "商品ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/cms/category/info": {
      "get": {
        "tags": [
          "CMS模块"
        ],
        "summary": "分类详情",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "infoUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "分类id",
            "required": false,
            "type": "string"
          },
          {
            "name": "yuyueStatistics",
            "in": "query",
            "description": "返回该类目下面预约报名数量",
            "required": false,
            "type": "string"
          },
          {
            "name": "yuyueUid",
            "in": "query",
            "description": "返回该用户在当前类目下面已经完成的预约数量",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/cms/category/list": {
      "get": {
        "tags": [
          "CMS模块"
        ],
        "summary": "获取所有的分类",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "listUsingGET_31",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "shopId",
            "in": "query",
            "description": "门店ID,多个门店用英文逗号分隔",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/cms/news/del": {
      "post": {
        "tags": [
          "CMS模块"
        ],
        "summary": "删除自己发布的文章",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "delUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "文章id",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/cms/news/detail/v2": {
      "get": {
        "tags": [
          "CMS模块"
        ],
        "summary": "文章详情",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "detailV2UsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "文章id",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/cms/news/fav/add": {
      "post": {
        "tags": [
          "CMS模块"
        ],
        "summary": "添加文章收藏",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "addUsingPOST_16",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "newsId",
            "in": "query",
            "description": "文章id",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/cms/news/fav/check": {
      "get": {
        "tags": [
          "CMS模块"
        ],
        "summary": "检测是否已收藏",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "checkUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "newsId",
            "in": "query",
            "description": "文章id",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/cms/news/fav/delete": {
      "post": {
        "tags": [
          "CMS模块"
        ],
        "summary": "删除文章收藏",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "deleteUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "收藏记录id",
            "required": false,
            "type": "string"
          },
          {
            "name": "newsId",
            "in": "query",
            "description": "文章id",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/cms/news/fav/list": {
      "post": {
        "tags": [
          "CMS模块"
        ],
        "summary": "文章收藏列表",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "listUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "titleLike",
            "in": "query",
            "description": "文章标题模糊搜索关键词",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/cms/news/list/v2": {
      "post": {
        "tags": [
          "CMS模块"
        ],
        "summary": "文章列表",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "listV2UsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "attention",
            "in": "query",
            "description": "是否获取我关注的用户发布的文章",
            "required": false,
            "type": "string"
          },
          {
            "name": "categoryId",
            "description": "所属分类ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryKey",
            "in": "query",
            "description": "所属分类编号",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateAddBegin",
            "in": "query",
            "description": "发布时间起,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateAddEnd",
            "in": "query",
            "description": "发布时间止,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateUpdateBegin",
            "in": "query",
            "description": "修改时间起,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateUpdateEnd",
            "in": "query",
            "description": "修改时间止,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "hasContent",
            "in": "query",
            "description": "是否需要包含文章详情",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "description": "文章ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isRecommend",
            "description": "是否推荐：true 推荐 / false 不推荐",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywordsLike",
            "in": "query",
            "description": "关键词",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序方式:newer，older，viewUp，viewDown，useful",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "tagsLike",
            "in": "query",
            "description": "标签",
            "required": false,
            "type": "string"
          },
          {
            "name": "titleLike",
            "in": "query",
            "description": "标题",
            "required": false,
            "type": "string"
          },
          {
            "name": "uid",
            "description": "发布人用户编号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/cms/news/preNext": {
      "get": {
        "tags": [
          "CMS模块"
        ],
        "summary": "获取上/下一篇文章",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "preNextUsingGET_7",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "文章id",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/cms/news/put": {
      "post": {
        "tags": [
          "CMS模块"
        ],
        "summary": "发布/编辑文章",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "putUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "author",
            "description": "作者",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryId",
            "description": "文章分类ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content",
            "description": "文章内容",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "descript",
            "description": "摘要/描述",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "description": "添加不传；修改传需要修改的记录id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "income",
            "description": "来源",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords",
            "description": "关键词",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paixu",
            "description": "排序",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pic",
            "description": "封面图片",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postJsonString",
            "in": "query",
            "description": "扩展属性的JSON格式数据",
            "required": false,
            "type": "string"
          },
          {
            "name": "tags",
            "description": "标签",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "description": "标题",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/cms/news/useful": {
      "post": {
        "tags": [
          "CMS模块"
        ],
        "summary": "文章赞/踩",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "usefulUsingPOST_7",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "文章id",
            "required": true,
            "type": "string"
          },
          {
            "name": "isCheck",
            "in": "query",
            "description": "true 表示只是检测当前用户有无操作，并不实际提交",
            "required": false,
            "type": "string"
          },
          {
            "name": "isUseful",
            "in": "query",
            "description": "true 为有用，false 为没用",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/{domain}/cms/news/useful/logs": {
      "post": {
        "tags": [
          "CMS模块"
        ],
        "summary": "文章点赞记录",
        "description": "全局错误码： \n-1:服务器内部错误\n300:禁止JSP功能\n403:禁止访问\n404:接口不存在\n405:接口请求方式错误，请检查您的 GET / POST 方式\n600:缺少参数\n601:参数格式错误\n700:暂无数据\n800:接口无响应\n900:并发异常，请重试\n1000:您未获得该接口权限\n2000:当前登录token无效，请重新登录\n3000:当前功能仅针对专业版或者增值版开放\n4000:当前功能已被限制使用\n5000:当前插件未购买或者已过期\n",
        "operationId": "usefulLogsUsingPOST_7",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "文章id",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "token",
            "in": "query",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
[...]
