{
  "swagger": "2.0",
  "info": {
    "description": "后台接口文档",
    "version": "1.0.0",
    "title": "后台接口列表",
    "contact": {
      "name": "gooking",
      "url": "https://www.it120.cc/",
      "email": "javazj@qq.com"
    }
  },
  "host": "user.api.it120.cc",
  "basePath": "/",
  "tags": [
    {
      "name": "APP相关接口",
      "description": "App Cid Controller"
    },
    {
      "name": "CMS模块",
      "description": "Api Ext Friendly Partner Controller"
    },
    {
      "name": "CPS",
      "description": "Cps Taobao Controller"
    },
    {
      "name": "MTJ",
      "description": "Mtj Controller"
    },
    {
      "name": "QQ小程序",
      "description": "Center User Set Qq Controller"
    },
    {
      "name": "mockApi",
      "description": "v1"
    },
    {
      "name": "上传文件管理",
      "description": "Dfs Category Controller"
    },
    {
      "name": "仓储管理",
      "description": "Ck Info Controller"
    },
    {
      "name": "代理商模块",
      "description": "Center User Cash Controller"
    },
    {
      "name": "会员卡",
      "description": "Card User Controller"
    },
    {
      "name": "分销管理",
      "description": "Sale Distribution Team Controller"
    },
    {
      "name": "商城模块",
      "description": "Virtual Trader Buy Log Controller"
    },
    {
      "name": "图形验证码",
      "description": "v1"
    },
    {
      "name": "图片交易",
      "description": "Photo Price Controller"
    },
    {
      "name": "在线支付",
      "description": "Online Pay Setting Controller"
    },
    {
      "name": "头条小程序",
      "description": "Center User Set Tt Controller"
    },
    {
      "name": "字节跳动",
      "description": "Center User Set Tt Controller"
    },
    {
      "name": "工作流备忘录",
      "description": "Remark Controller"
    },
    {
      "name": "工厂设置",
      "description": "v1"
    },
    {
      "name": "微信小程序",
      "description": "Wx Live Vedio Controller"
    },
    {
      "name": "微信服务商",
      "description": "Wxopenapp List Controller"
    },
    {
      "name": "微信相关",
      "description": "Wx Auto Reply Controller"
    },
    {
      "name": "快跑者配送",
      "description": "Center User Set Keloop Controller"
    },
    {
      "name": "快递物流",
      "description": "Penyuan Guoji Controller"
    },
    {
      "name": "打印机",
      "description": "v1"
    },
    {
      "name": "扫码点餐",
      "description": "Cy Table Controller"
    },
    {
      "name": "投票模块",
      "description": "Vote Join Controller"
    },
    {
      "name": "拼团模块",
      "description": "Pingtuan Multilevel Controller"
    },
    {
      "name": "排队叫号",
      "description": "v1"
    },
    {
      "name": "插件管理",
      "description": "v1"
    },
    {
      "name": "支付宝小程序",
      "description": "v1"
    },
    {
      "name": "收藏卡片",
      "description": "Collect Card His Controller"
    },
    {
      "name": "数据统计",
      "description": "v1"
    },
    {
      "name": "旅游/旅行",
      "description": "Tour Journey Controller"
    },
    {
      "name": "旧物回收",
      "description": "Recycle Order Controller"
    },
    {
      "name": "智能硬件",
      "description": "v1"
    },
    {
      "name": "活动&工具",
      "description": "Lucky Info Controller"
    },
    {
      "name": "流媒体",
      "description": "Live Rooms Controller"
    },
    {
      "name": "消息提醒[订单等数据变化时提醒]",
      "description": "Remind Controller"
    },
    {
      "name": "物品寄存",
      "description": "Jicun Goods Controller"
    },
    {
      "name": "用户管理",
      "description": "User Welfare Controller"
    },
    {
      "name": "电子面单",
      "description": "Express Order Controller"
    },
    {
      "name": "登录及授权",
      "description": "Forget Password Controller"
    },
    {
      "name": "砍价模块",
      "description": "Kanjia Joiner Controller"
    },
    {
      "name": "积分模块",
      "description": "User Score Send Rule Controller"
    },
    {
      "name": "站点信息",
      "description": "Center User Cash Log Controller"
    },
    {
      "name": "第三方支付",
      "description": "v1"
    },
    {
      "name": "管理员财务模块",
      "description": "Admin Cash Log Controller"
    },
    {
      "name": "红包优惠券",
      "description": "Ext Discounts Coupon User Controller"
    },
    {
      "name": "自定义JSON",
      "description": "Api Ext Json Controller"
    },
    {
      "name": "订单模块",
      "description": "Order Refund Apply Controller"
    },
    {
      "name": "设置类接口",
      "description": "Api Ext Config Controller"
    },
    {
      "name": "财务相关",
      "description": "Alipay Transfer Controller"
    },
    {
      "name": "购买课程",
      "description": "Course Session Controller"
    },
    {
      "name": "资源包管理",
      "description": "Center User Resource Bundle Controller"
    },
    {
      "name": "进销存",
      "description": "Purchase Order Controller"
    },
    {
      "name": "配送模块",
      "description": "Peisong Member Controller"
    },
    {
      "name": "金蝶云",
      "description": "Jdy Set Controller"
    },
    {
      "name": "门店财务模块",
      "description": "Shop Cash Controller"
    },
    {
      "name": "预约报名",
      "description": "Yuyue Join Controller"
    }
  ],
  "paths": {
    "/apis/list": {
      "post": {
        "tags": [
          "工厂设置"
        ],
        "summary": "获取所有工厂模块列表",
        "operationId": "listUsingPOST_37",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "groupName",
            "description": "接口分组",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isShow",
            "description": "是否显示所有模块（否则同一个分组仅展示一个模块）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nameLike",
            "in": "query",
            "description": "关键词",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/buy/centerUserApi/getPayData": {
      "post": {
        "tags": [
          "工厂设置"
        ],
        "summary": "获得购买模块套餐信息",
        "description": "userId 和 mobile 只要传一个即可",
        "operationId": "topayUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "apiPriceId",
            "in": "query",
            "description": "模块所对应的套餐ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "description": "商户手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "商户编号",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/buy/plugin/deposit": {
      "post": {
        "tags": [
          "插件管理"
        ],
        "summary": "使用当前登录商户的余额给指定的商户开通插件",
        "operationId": "depositUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "0 移动客服；1小程序购物单; 2vip ; 3 三级分销；4 支付宝半自动 5 钉钉 提醒 6 工作流备忘录 7又拍云 8押金管理",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "商户编号",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/buy/plugin/getPayData": {
      "post": {
        "tags": [
          "插件管理"
        ],
        "summary": "获得购买插件信息",
        "operationId": "getPayDataUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "mobile",
            "in": "query",
            "description": "商户手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "0 移动客服；1小程序购物单; 2vip ; 3 三级分销；4 支付宝半自动 5 钉钉 提醒 6 工作流备忘录 7又拍云 8押金管理",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "商户编号",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/code": {
      "get": {
        "tags": [
          "图形验证码"
        ],
        "summary": "获取验证码",
        "description": "直接返回的是图片，可直接在页面 img 标签显示",
        "operationId": "codeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "k",
            "in": "query",
            "description": "随机数",
            "required": true,
            "type": "string",
            "default": "0.197628373947345873"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/express/pygjsd/depots": {
      "get": {
        "tags": [
          "快递物流"
        ],
        "summary": "鹏远国际速递获取门店列表",
        "operationId": "depotsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/express/pygjsd/leiBie": {
      "get": {
        "tags": [
          "快递物流"
        ],
        "summary": "鹏远国际速递获取物品类别",
        "operationId": "leiBieUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/express/pygjsd/region": {
      "get": {
        "tags": [
          "快递物流"
        ],
        "summary": "鹏远国际速递获取省份城市信息",
        "operationId": "regionUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/express/pygjsd/routes": {
      "get": {
        "tags": [
          "快递物流"
        ],
        "summary": "鹏远国际速递获取线路列表",
        "operationId": "routesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/fileUpload": {
      "post": {
        "tags": [
          "上传文件管理"
        ],
        "summary": "文件上传接口",
        "operationId": "fileUploadUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "query",
            "description": "图库分类id",
            "required": false,
            "type": "string"
          },
          {
            "name": "upfile",
            "in": "formData",
            "description": "选择上传的文件",
            "required": true,
            "type": "file"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/forgetPassword/resetPwd": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "重置新密码",
        "operationId": "saveUsingPOST_60",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "mobile",
            "in": "query",
            "description": "手机号码",
            "required": true,
            "type": "string"
          },
          {
            "name": "pwd",
            "in": "query",
            "description": "新密码",
            "required": true,
            "type": "string"
          },
          {
            "name": "smsCode",
            "in": "query",
            "description": "短信验证码",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/forgetPassword/smscode": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "忘记密码发送短信验证码",
        "operationId": "smscodeUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "图形验证码",
            "required": true,
            "type": "string"
          },
          {
            "name": "k",
            "in": "query",
            "description": "验证码随机数",
            "required": true,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "description": "手机号码",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/login/email": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "邮箱登录",
        "operationId": "emailUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "电子邮箱",
            "required": true,
            "type": "string"
          },
          {
            "name": "imgcode",
            "in": "query",
            "description": "图形验证码",
            "required": true,
            "type": "string"
          },
          {
            "name": "k",
            "in": "query",
            "description": "验证码随机数",
            "required": true,
            "type": "string"
          },
          {
            "name": "pwd",
            "in": "query",
            "description": "登录密码",
            "required": true,
            "type": "string"
          },
          {
            "name": "rememberMe",
            "in": "query",
            "description": "是否记住密码",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/login/exit": {
      "get": {
        "tags": [
          "登录及授权"
        ],
        "summary": "退出登录",
        "operationId": "exitUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/login/key": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "商户号和秘钥实现登录",
        "operationId": "keyUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "merchantKey",
            "in": "query",
            "description": "商户秘钥",
            "required": true,
            "type": "string"
          },
          {
            "name": "merchantNo",
            "in": "query",
            "description": "商户号",
            "required": true,
            "type": "string"
          },
          {
            "name": "rememberMe",
            "in": "query",
            "description": "是否记住密码",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/login/mobile/v2": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "手机号码登录",
        "operationId": "mobileV2UsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "imgcode",
            "in": "query",
            "description": "图形验证码",
            "required": true,
            "type": "string"
          },
          {
            "name": "k",
            "in": "query",
            "description": "验证码随机数",
            "required": true,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "description": "手机号码",
            "required": true,
            "type": "string"
          },
          {
            "name": "pwd",
            "in": "query",
            "description": "登录密码",
            "required": true,
            "type": "string"
          },
          {
            "name": "rememberMe",
            "in": "query",
            "description": "是否记住密码",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/login/operator/v2": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "子账号登录[商户号]",
        "operationId": "loginCheckOperatorV2UsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "imgcode",
            "in": "query",
            "description": "图形验证码",
            "required": true,
            "type": "string"
          },
          {
            "name": "k",
            "in": "query",
            "description": "验证码随机数",
            "required": true,
            "type": "string"
          },
          {
            "name": "merchantId",
            "in": "query",
            "description": "商户编号",
            "required": true,
            "type": "string"
          },
          {
            "name": "pwd",
            "in": "query",
            "description": "登录密码",
            "required": true,
            "type": "string"
          },
          {
            "name": "rememberMe",
            "in": "query",
            "description": "是否记住密码",
            "required": false,
            "type": "string"
          },
          {
            "name": "userName",
            "in": "query",
            "description": "用户名",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/login/shop": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "门店登陆接口",
        "description": "使用门店管理里面的用户名和密码进行登陆",
        "operationId": "shopUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "pdomain",
            "in": "query",
            "description": "专属域名",
            "required": true,
            "type": "string"
          },
          {
            "name": "pwd",
            "in": "query",
            "description": "登录密码",
            "required": true,
            "type": "string"
          },
          {
            "name": "username",
            "in": "query",
            "description": "用户名",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/login/token": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "通过前端用户的token换取X-TOKEN",
        "operationId": "tokenUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "管理员ID，可以指定换取某个管理员，不传该参数会返回所有管理员列表",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "前端用户登陆的token",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/login/userName/v2": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "子账号登录[域名]",
        "description": "该接口会优先判断手机号码登录，如果满足直接登录成功，其次才会尝试子账号登录",
        "operationId": "loginCheckUserNameV2UsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "imgcode",
            "in": "query",
            "description": "图形验证码",
            "required": true,
            "type": "string"
          },
          {
            "name": "k",
            "in": "query",
            "description": "验证码随机数",
            "required": true,
            "type": "string"
          },
          {
            "name": "pdomain",
            "in": "query",
            "description": "专属域名",
            "required": true,
            "type": "string"
          },
          {
            "name": "pwd",
            "in": "query",
            "description": "登录密码",
            "required": true,
            "type": "string"
          },
          {
            "name": "rememberMe",
            "in": "query",
            "description": "是否记住密码",
            "required": false,
            "type": "string"
          },
          {
            "name": "userName",
            "in": "query",
            "description": "用户名",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/query/order/status": {
      "get": {
        "tags": [
          "第三方支付"
        ],
        "summary": "查询在线支付状态",
        "operationId": "payStatusUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderNumber",
            "in": "query",
            "description": "orderNumber",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/register/mailcode": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "注册获取邮箱验证码",
        "operationId": "mailcodeUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "电子邮箱",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/register/save": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "注册保存【手机方式】",
        "operationId": "saveUsingPOST_86",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "mobile",
            "in": "query",
            "description": "手机号码",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "姓名/昵称",
            "required": true,
            "type": "string"
          },
          {
            "name": "pwd",
            "in": "query",
            "description": "登录密码",
            "required": true,
            "type": "string"
          },
          {
            "name": "referrer",
            "in": "query",
            "description": "推荐人用户ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "smsCode",
            "in": "query",
            "description": "短信验证码",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/register/save/email": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "注册保存【邮箱方式】",
        "operationId": "saveUsingPOST_87",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "邮箱",
            "required": true,
            "type": "string"
          },
          {
            "name": "mailCode",
            "in": "query",
            "description": "邮箱验证码",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "姓名/昵称",
            "required": true,
            "type": "string"
          },
          {
            "name": "pwd",
            "in": "query",
            "description": "登录密码",
            "required": true,
            "type": "string"
          },
          {
            "name": "referrer",
            "in": "query",
            "description": "推荐人用户ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/register/smscode": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "注册获取短信验证码",
        "operationId": "smscodeUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "图形验证码",
            "required": true,
            "type": "string"
          },
          {
            "name": "k",
            "in": "query",
            "description": "验证码随机数",
            "required": true,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "description": "手机号码",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/adPosition/del": {
      "post": {
        "tags": [
          "站点信息"
        ],
        "summary": "删除广告位",
        "operationId": "delUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "记录id,多个id用英文的逗号分割",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/adPosition/info": {
      "get": {
        "tags": [
          "站点信息"
        ],
        "summary": "广告位详情",
        "operationId": "infoUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/adPosition/list": {
      "post": {
        "tags": [
          "站点信息"
        ],
        "summary": "广告位列表",
        "operationId": "listUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/adPosition/save": {
      "post": {
        "tags": [
          "站点信息"
        ],
        "summary": "广告位添加/修改",
        "operationId": "saveUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "description": "添加不传；修改传需要修改的记录id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "description": "编号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "description": "自定义类型 pic,txt,video",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "description": "链接地址",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "val",
            "description": "广告位内容",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/admin/del": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "删除管理员",
        "operationId": "delUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "管理员id，多个数字用英文逗号分割",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/admin/info": {
      "get": {
        "tags": [
          "登录及授权"
        ],
        "summary": "管理员详情",
        "operationId": "infoUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "管理员ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/admin/list": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "平台管理员列表",
        "operationId": "listUsingPOST_3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/admin/quyu": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "区域管理员列表",
        "operationId": "quyuUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/admin/resetPwd": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "重置管理员密码",
        "operationId": "resetPwdUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "管理员ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          },
          {
            "name": "pwd",
            "in": "query",
            "description": "pwd",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/admin/save": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "添加/修改管理员",
        "operationId": "saveUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "description": "管理员ID，修改时候传",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pwd",
            "description": "密码",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "realname",
            "description": "姓名",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleIds",
            "in": "query",
            "description": "角色ID",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "shopIds",
            "description": "门店管理员的话，拥有权限的门店ID，多个门店之间用英文逗号分隔",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "description": "用户名",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/admin/stop": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "禁用管理员",
        "operationId": "stopUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "管理员ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/admin/unstop": {
      "post": {
        "tags": [
          "登录及授权"
        ],
        "summary": "启用管理员",
        "operationId": "unstopUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "管理员ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/adminCash/list": {
      "post": {
        "tags": [
          "管理员财务模块"
        ],
        "summary": "管理员资产列表",
        "operationId": "listUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "description": "管理员编号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mobile",
            "in": "query",
            "description": "手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序规则：balanceUp 余额从小到大；balanceDown 余额从大到小；freezeUp 冻结从小到大；freezeDown 冻结从大到小",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "realname",
            "in": "query",
            "description": "姓名",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/adminCash/modifyBalance": {
      "post": {
        "tags": [
          "管理员财务模块"
        ],
        "summary": "调整管理员余额",
        "operationId": "modifyBalanceUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "管理员编号(管理员编号和手机号码至少传一项)",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "description": "手机号码(管理员编号和手机号码至少传一项)",
            "required": false,
            "type": "string"
          },
          {
            "name": "money",
            "in": "query",
            "description": "调整金额，负数代表扣除余额",
            "required": true,
            "type": "string"
          },
          {
            "name": "remark",
            "in": "query",
            "description": "备注",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/adminCashLog/list": {
      "post": {
        "tags": [
          "管理员财务模块"
        ],
        "summary": "资金流水列表",
        "operationId": "listUsingPOST_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "adminId",
            "description": "管理员编号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "behavior",
            "description": "0 收入； 1 支出",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateAddBegin",
            "in": "query",
            "description": "支付时间起,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateAddEnd",
            "in": "query",
            "description": "支付时间起,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "description": "用户手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderId",
            "description": "业务订单号",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "realname",
            "in": "query",
            "description": "姓名",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "description": "交易类型： 0 充值； 11 提现申请； 12 提现失败； 1 提现成功； 2 支付订单； 3 退款; 31 退款(原路退回); 4支付预约报名费 5 知识付费 6 分销返佣; 61 合伙人返佣; 7 分享商品奖励； 8 优惠买单； 9 充值赠送； 100 支付押金； 101 押金(退还)； 110 购买会员； 120 货款转入 130 分润转入；140 积分兑换成金额；150 购买优惠(代金)券； 160 分红； 170 支付京励订单； 180 扫码点餐结账；190 购买会员卡；200 购买图片；210 购买社团团长；220 购买分销商；230 购买商品返利；",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/alipayTransfer/invalid": {
      "post": {
        "tags": [
          "财务相关"
        ],
        "summary": "支付宝转账记录设为作废",
        "operationId": "invalidUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "记录ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/alipayTransfer/list": {
      "post": {
        "tags": [
          "财务相关"
        ],
        "summary": "支付宝转账记录列表",
        "operationId": "listUsingPOST_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dateAddBegin",
            "in": "query",
            "description": "转账时间起,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateAddEnd",
            "in": "query",
            "description": "转账时间起,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateUpdateBegin",
            "in": "query",
            "description": "更新时间起,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateUpdateEnd",
            "in": "query",
            "description": "更新时间起,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "goodsName",
            "in": "query",
            "description": "转账备注",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "description": "用户手机号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "nick",
            "in": "query",
            "description": "用户昵称",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderNumber",
            "in": "query",
            "description": "订单号",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "status",
            "in": "query",
            "description": "状态 0 未领取 1 交易成功 2 已作废",
            "required": false,
            "type": "string"
          },
          {
            "name": "uid",
            "in": "query",
            "description": "用户编号",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateTransferBegin",
            "in": "query",
            "description": "dateTransferBegin",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateTransferEnd",
            "in": "query",
            "description": "dateTransferEnd",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/alipayTransferQrcode/del": {
      "post": {
        "tags": [
          "财务相关"
        ],
        "summary": "删除支付宝收钱码",
        "operationId": "delUsingPOST_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "记录编号",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/alipayTransferQrcode/info": {
      "get": {
        "tags": [
          "财务相关"
        ],
        "summary": "支付宝收钱码详情",
        "operationId": "infoUsingGET_2",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/alipayTransferQrcode/list": {
      "post": {
        "tags": [
          "财务相关"
        ],
        "summary": "支付宝收钱码列表",
        "operationId": "listUsingPOST_5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/alipayTransferQrcode/save": {
      "post": {
        "tags": [
          "财务相关"
        ],
        "summary": "添加/修改支付宝收钱码",
        "operationId": "saveUsingPOST_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "description": "金额",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "记录ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "备注",
            "required": false,
            "type": "string"
          },
          {
            "name": "qrcodePic",
            "in": "query",
            "description": "收钱码图片地址",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "状态：0 可用；1 正在付款",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/apiExtBanner/del": {
      "post": {
        "tags": [
          "站点信息"
        ],
        "summary": "删除Banner",
        "operationId": "delUsingPOST_3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/apiExtBanner/info": {
      "get": {
        "tags": [
          "站点信息"
        ],
        "summary": "Banner详情",
        "operationId": "infoUsingGET_3",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/apiExtBanner/list": {
      "post": {
        "tags": [
          "站点信息"
        ],
        "summary": "Banner列表",
        "operationId": "listUsingPOST_6",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/apiExtBanner/save": {
      "post": {
        "tags": [
          "站点信息"
        ],
        "summary": "Banner设置",
        "operationId": "saveUsingPOST_3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "businessId",
            "description": "业务编号",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "description": "添加不传；修改传需要修改的记录id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkUrl",
            "description": "链接地址",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paixu",
            "description": "排序",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "picUrl",
            "description": "图片URL地址",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "remark",
            "description": "备注说明",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "description": "状态，0 显示 1 隐藏",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "description": "标题名称",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "description": "类型，自定义类型",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/apiExtBanner/types": {
      "get": {
        "tags": [
          "站点信息"
        ],
        "summary": "获取所有的Banner类型",
        "operationId": "typesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/apiExtComment/add": {
      "post": {
        "tags": [
          "CMS模块"
        ],
        "summary": "添加留言/评论",
        "operationId": "addUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "content",
            "description": "留言/评论内容",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extJsonStr",
            "in": "query",
            "description": "属性信息,JSON格式",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "description": "文件附件链接，可传图片、文件",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pid",
            "description": "引用的留言ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refId",
            "description": "业务ID，比如文章id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "description": "0 网站留言 1 意见反馈 2 投诉建议 3 CMS文章评论 4 接口申请 5 预约/活动/报名 6 商城订单",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/apiExtComment/del": {
      "post": {
        "tags": [
          "CMS模块"
        ],
        "summary": "删除留言",
        "operationId": "delUsingPOST_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "留言id，多个ID用英文逗号分割",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/apiExtComment/info": {
      "get": {
        "tags": [
          "CMS模块"
        ],
        "summary": "留言/评论详情",
        "operationId": "infoUsingGET_4",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "评论记录ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/apiExtComment/list": {
      "post": {
        "tags": [
          "CMS模块"
        ],
        "summary": "留言/评论列表",
        "operationId": "listUsingPOST_7",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dateAddBegin",
            "in": "query",
            "description": "添加时间起,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateAddEnd",
            "in": "query",
            "description": "添加时间起,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateReplyBegin",
            "in": "query",
            "description": "回复时间起,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateReplyEnd",
            "in": "query",
            "description": "回复时间起,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "pid",
            "description": "引用的留言ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refId",
            "description": "业务ID，比如文章id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "description": "0 待审核 1 已审核 2 已回复",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "titleLike",
            "in": "query",
            "description": "type==3的时候，搜索cms文章标题关键字",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "description": "0 网站留言 1 意见反馈 2 投诉建议 3 CMS文章评论 4 接口申请 5 预约/活动/报名 6 商城订单",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/apiExtComment/reply": {
      "post": {
        "tags": [
          "CMS模块"
        ],
        "summary": "回复",
        "operationId": "replyUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "留言id",
            "required": true,
            "type": "string"
          },
          {
            "name": "reply",
            "in": "query",
            "description": "回复内容",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/apiExtComment/vet": {
      "post": {
        "tags": [
          "CMS模块"
        ],
        "summary": "审核通过",
        "operationId": "vetUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "留言id",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/apiExtConfig/del": {
      "post": {
        "tags": [
          "设置类接口"
        ],
        "summary": "删除系统参数",
        "operationId": "delUsingPOST_5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "删除的记录id，多个id之间用英文的逗号分隔",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/apiExtConfig/info": {
      "get": {
        "tags": [
          "设置类接口"
        ],
        "summary": "系统参数设置详情",
        "operationId": "infoUsingGET_5",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/apiExtConfig/list": {
      "post": {
        "tags": [
          "设置类接口"
        ],
        "summary": "系统参数设置列表",
        "operationId": "listUsingPOST_8",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "creatAtBegin",
            "in": "query",
            "description": "添加时间起,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "creatAtBegin",
            "in": "query",
            "description": "更新时间起,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "creatAtEnd",
            "in": "query",
            "description": "添加时间止,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "creatAtEnd",
            "in": "query",
            "description": "更新时间止,格式 2018-05-16",
            "required": false,
            "type": "string"
          },
          {
            "name": "isPub",
            "description": "是否公开还是隐私，true/false",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "获取第几页数据",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页显示多少数据",
            "required": false,
            "type": "string",
            "default": "50"
          },
          {
            "name": "X-Token",
            "in": "header",
            "description": "登录接口返回的token",
            "required": false,
            "type": "string"
          },
          {
            "name": "updateAtBegin",
            "in": "query",
            "description": "updateAtBegin",
            "required": false,
            "type": "string"
          },
          {
            "name": "updateAtEnd",
            "in": "query",
            "description": "updateAtEnd",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JSONResultCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/apiExtConfig/modify": {
      "post": {
        "tags": [
          "设置类接口"
        ],
        "summary": "修改参数设置",
        "operationId": "modifyUsingPOST",
        "consumes": [
          "application/json"
[...]
